<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MessageBoardProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.revature.controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/src/main/webapp/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PostServlet</servlet-name>
  	<servlet-class>com.revature.controller.PostServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PostServlet</servlet-name>
  	<url-pattern>/src/main/webapp/PostServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ReplyServlet</servlet-name>
  	<servlet-class>com.revature.controller.ReplyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ReplyServlet</servlet-name>
  	<url-pattern>/src/main/webapp/ReplyServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewContentServlet</servlet-name>
  	<servlet-class>com.revature.controller.NewContentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>NewContentServlet</servlet-name>
  	<url-pattern>/src/main/webapp/NewContentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegulateServlet</servlet-name>
  	<servlet-class>com.revature.controller.RegulateServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegulateServlet</servlet-name>
  	<url-pattern>/src/main/webapp/RegulateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<servlet-class>com.revature.controller.ProfileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/src/main/webapp/ProfileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<servlet-class>com.revature.controller.DeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/src/main/webapp/DeleteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageServlet</servlet-name>
  	<servlet-class>com.revature.controller.ImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ImageServlet</servlet-name>
  	<url-pattern>/src/main/webapp/ImageServlet</url-pattern>
  </servlet-mapping>
  
</web-app>